<div class="panel panel-info">
	<div class="panel-heading">
	
	added <%= time_ago_in_words(task.created_at) %> ago
	
	<%= link_to "delete", task_path(task), method: :delete, data: {confirm: "Task will be deleted! Are you sure?"}, class: "pull-right" %>

	</div>
	<%= link_to edit_task_path(task) do %>
	<div class="panel-body"><%= task.content %>
			<% if task.state == "doing" %>
		<div class="pull-right">
		<%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "to_do"), method: :put, class: "btn btn-warning btn-xs " %>
		<%= link_to "<i class='fa fa-check'></i>".html_safe, change_task_path(task, state: "done"), method: :put, class: "btn btn-success btn-xs " %>
		</div>
		<% elsif task.state == "done" %>
		<%= link_to "<i class='fa fa-arrow-left'></i>".html_safe, change_task_path(task, state: "doing"), method: :put, class: "btn btn-warning btn-xs pull-right" %>
		<% else %>
		<%= link_to "<i class='fa fa-check'></i>".html_safe, change_task_path(task, state: "doing"), method: :put, class: "btn btn-success btn-xs pull-right" %>
		<% end %></div>
	<% end %>
 



</div>